<img src = "https://drive.google.com/uc?export=view&id=1WaM3ez8iLaUk3VyWNYZQuifnvbEX4vbK" alt = "Encabezado MLDS" width = "100%">  </img>

#**Quiz 3 : Entendimiento de los datos con *pandas***
---

Este es un quiz para practicar las habilidades adquiridas usando *pandas* en el proceso de exploración y entendimiento de conjuntos de datos. Utilizaremos el [dataset Titanic](https://www.kaggle.com/c/titanic) disponible en *Kaggle*.

El conjunto de datos del Titanic cuenta con múltiples variables de la tragedia:

| Variable | Definición	| Valores | 
| --- | --- | --- |
| survival | 	Supervivencia  | 	0 = No, 1 = Sí |
| pclass 	| Clase del tiquete | 	1 = 1ra, 2 = 2da, 3 = 3ra
| sex 	| Sexo 	| |
| Age |	Edad en años 	| |
| sibsp |	# de hermanos / cónyuge abordo del Titanic 	| |
| parch |	# de padres / hijos abordo del Titanic 	| |
| ticket |	Número del ticket | |	
| fare 	| Costo del ticket | |	
| cabin |	Número de la cabina 	| |
| embarked |	Puerto de embarque |	C = Cherbourg, Q = Queenstown, S = Southampton |

En este quiz usted debe realizar un proceso de análisis exploratorio de datos con *Pandas* con el objetivo de practicar los conceptos y sus habilidades del entendimiento de los datos.

> **Nota:** Esta tarea va a ser calificada en la plataforma **[UNCode](https://juezun.github.io/)**. Para esto, en cada ejercicio se indicará si es calificable o no, también los lugares donde debe escribir su código sin modificar lo demás con un aproximado de cantidad de líneas a escribir. No se preocupe si su código toma más líneas, esto es simplemente un aproximado destinado a que pueda replantear su estrategia si el código está tomando más de las esperadas. No es un requisito estricto y soluciones más largas también son válidas. Al finalizar, para realizar el envío (*submission*), descargue el notebook como un archivo **`.ipynb`** y haga su entrega a través de **Moodle**.

Ejecute la siguiente celda para importar *pandas*.

In [1]:
# Importar pandas
import pandas as pd

In [2]:
#TEST_CELL
!python --version
print('Pandas', pd.__version__)

Python 3.7.11
Pandas 1.1.5

Este material fue realizado con las siguientes versiones:

- *Python* 3.6.9

- *Pandas* 1.1.5

## **0.  Leer el archivo de datos**
---
> **IMPORTANTE:** 

  1. Por favor descargue el archivo con el conjunto de datos desde el siguiente enlace: **[titanic.csv](https://raw.githubusercontent.com/JuezUN/datasets/master/titanic.csv)**. 
  
  2. En el enlace, haga clic derecho y seleccione la opción **"Guardar como..."**.

  3. Cargue este archivo en su sistema de archivos de **Google Colaboratory**. Para hacer esto:
    
    * Haga clic donde aparece el icono del directorio en la parte izquierda de la ventana en *Google Colaboratory* (resaltado en azul en la siguiente imagen con el número 1).
    * Después, haga clic en el icono **"Subir"** (resaltado en azul en la siguiente imagen con el número 2).
    * Seleccione el archivo **`titanic.csv`** que previamente descargó y haga clic en **"Aceptar"**.

<img src = "https://drive.google.com/uc?export=view&id=13W59jfdOpAn_DYIjpXt4WPBZiU7BlRGY" alt = "Sistema archivos colab" width = "70%">  </img>

4. Ejecute la siguiente celda para cargar el conjunto de datos dentro del DataFrame de *pandas* llamado **`df`**:

In [5]:
### EJECUTAR ESTA CELDA SIN MODIFICARLA. SI FALLA, DEBE SEGUIR EL PROCEDIMIENTO DESCRITO ANTES.
df = pd.read_csv('titanic.csv')

No se preocupe por el archivo del dataset en ***UNCode***, el ambiente de calificación ya cuenta con este archivo para calificar sus ejercicios.

## **1. Tipos de variables**
---
Usted deberá identificar y explorar los diferentes tipos de variables (columnas) del conjunto de datos y guardar las respuestas solicitadas en las variables solicitadas en cada punto.

Utilice las siguientes celdas para explorar libremente el conjunto de datos utilizando *pandas*. Después, consigne sus respuestas en las preguntas que aparece más adelante.

In [6]:
#TEST_CELL
### ESCRIBA SU CÓDIGO AQUÍ ### 
df.isna()

     PassengerId  Survived  Pclass   Name  ...  Ticket   Fare  Cabin  Embarked
0          False     False   False  False  ...   False  False   True     False
1          False     False   False  False  ...   False  False  False     False
2          False     False   False  False  ...   False  False   True     False
3          False     False   False  False  ...   False  False  False     False
4          False     False   False  False  ...   False  False   True     False
..           ...       ...     ...    ...  ...     ...    ...    ...       ...
886        False     False   False  False  ...   False  False   True     False
887        False     False   False  False  ...   False  False  False     False
888        False     False   False  False  ...   False  False   True     False
889        False     False   False  False  ...   False  False  False     False
890        False     False   False  False  ...   False  False   True     False

[891 rows x 12 columns]

In [7]:
#TEST_CELL
### ESCRIBA SU CÓDIGO AQUÍ ### 
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
#TEST_CELL
## Si lo desea, puede agregar más celdas para entender el conjunto de datos.
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
df['Age'].mean()

29.69911764705882

In [10]:
df['Survived'].sum()

342

In [11]:
df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [12]:
df[df.Age>40]

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
6              7         0       1  ...  51.8625   E46         S
11            12         1       1  ...  26.5500  C103         S
15            16         1       2  ...  16.0000   NaN         S
33            34         0       2  ...  10.5000   NaN         S
35            36         0       1  ...  52.0000   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
862          863         1       1  ...  25.9292   D17         S
865          866         1       2  ...  13.0000   NaN         S
871          872         1       1  ...  52.5542   D35         S
873          874         0       3  ...   9.0000   NaN         S
879          880         1       1  ...  83.1583   C50         C

[150 rows x 12 columns]

In [13]:
df[df.Survived>0].Survived.sum()

342

### **1.1.  Variables con valores faltantes**
---

> **¿Qué variables tienen filas con valores faltantes?**

Llene la lista **`valores_faltantes`** con la respuesta correcta. El orden en que ponga los nombres de las variables no es importante.

La respuesta debería ser con un subconjunto de los nombres de las variables del conjunto de datos:

**`['PassengerId', 'Survived', 'Pclass', 
       'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 
       'Cabin', 'Embarked']`**

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Para esto, puede apoyarse en las funciones de exploración de los datos como **`.describe`** o **`.info`** para identificar las variables con valores faltantes.

* Considere el total de registros en el conjunto de datos y el total de registros con valores no-nulos por cada variable para encontrar las diferencias.

In [35]:
# VARIABLE CALIFICADA valores_faltantes:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
valores_faltantes = ['Age','Cabin','Embarked']
print(valores_faltantes)
### FIN DEL CÓDIGO ###

['Age', 'Cabin', 'Embarked']

### **1.2.  Variables categóricas**
---

> **¿Qué variables tienen valores categóricos?**

Llene la lista **`categoricas`** con la respuesta correcta. El orden en que ponga los nombres de las variables no es importante.

La respuesta debería ser un subconjunto de todas las variables del conjunto de datos:

**`['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']`**

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Para esto, puede apoyarse en las funciones de exploración de los datos para identificar las variables con valores categóricos. Por ejemplo: la columna **'Sex'** puede tener únicamente los valores **'female'** y **'male'**. 

* Considere como valores categóricos aquellos que puedan representar características del pasajero o grupos a los que pertenezca.

* Aunque la variable sea cargada como un número, es posible que represente una variable categórica.

In [17]:
# VARIABLE CALIFICADA categoricas:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
categoricas = ['Survived', 'Sex', 'Pclass', 'Embarked']
### FIN DEL CÓDIGO ###

### **1.3.  Conteos de embarques**
---

> **¿Cuántos pasajeros embarcaron en cada uno de los puertos?**

Llene la lista **`embarcaron`** con la respuesta correcta. El orden en que ponga los números de pasajeros que embarcaron en cada uno de los puertos no es importante.

La respuesta debería debe tener 3 valores numéricos correspondientes al número de personas que embarcaron en: 
* *Southampton* (S)
*  *Cherbourg* (C)
* *Queenstown* (Q)

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Debe ayudarse para encontrar los resultados usando las funciones de explicación de datos. Recuerde que *pandas* proporciona una función que realiza los conteos de los datos categóricos almacenados en una variable.

* Recuerde que la columna **'Embarked'** almacena los datos acerca del puerto de embarque de los pasajeros.

In [18]:
# VARIABLE CALIFICADA embarcaron:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
embarcaron = df.Embarked.value_counts()
print(embarcaron)
### FIN DEL CÓDIGO ###

S    644
C    168
Q     77
Name: Embarked, dtype: int64

## **2. Supervivencia**
---
El conjunto de datos *Titanic* cuenta con la variable **`Survived`**. Esta indica quiénes sobrevivieron a la tragedia, representando a los sobrevivientes con valor igual a $1$ y las víctimas con el valor $0$.

Nos interesa saber qué variables influyeron más en la supervivencia de una persona.

* Por cada variable numérica encuentre el valor medio de aquellos que sobrevivieron.

* En el caso de la variable categórica **`Sex`**, encuentre los valores de la proporción de sobrevivientes para mujeres (*female*) y hombres (*male*).

### **2.1. Supervivencia en variables numéricas**
--- 

Encontrar el valor medio de todas las variables numéricas para aquellos que sobrevivieron.

Aunque es posible obtener el resultado en una sola línea de código, se recomienda primero calcular los promedios de las variables numéricas para ambos grupos de pasajeros: los que sobrevivieron y los que no, y posteriormente, seleccionar los promedios de los que sobrevivieron. Por lo anterior, este ejercicio se divide en dos partes.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Recuerde que puede conformar grupos a partir de variables o condiciones con el uso de la función **`groupby`** para después realizar operaciones de agregación como el promedio **`mean`** o la suma **`sum`**.
* Para este ejercicio deberá considerar las variables con valores numéricos, incluso si son interpretadas como variables categóricas. Delegue esta decisión a *pandas* y sus funciones que sólo operan con valores numéricos.

Primero, encuentre los promedios de las variables numéricas para ambos grupos de pasajeros: sobrevivientes y no sobrevivientes.
> **Nota**: Tenga en cuenta que el tipo de dato que se solicita es un objeto ***Dataframe*** llamado **'promedios_por_grupo'**.

In [38]:
# VARIABLE CALIFICADA promedios_por_grupo:

### ESCRIBA SU CÓDIGO AQUÍ ### ~ 1 linea
promedios_por_grupo = df.groupby('Survived').mean()
### FIN DEL CÓDIGO ###

In [39]:
#TEST_CELL
#CELDA DE PRUEBAS 
promedios_por_grupo > 10

          PassengerId  Pclass   Age  SibSp  Parch  Fare
Survived
0                True   False  True  False  False  True
1                True   False  True  False  False  True

**Salida esperada:**

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Pclass</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
    </tr>
    <tr>
      <th>Survived</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
  </tbody>
</table>

Ahora debe seleccionar los promedios del grupo que sobrevivió. Por ejemplo, para aquellos que sobrevivieron el promedio de edad (variable **`Age`**) es aproximadamente **`28.343690`** años. 

Al interpretar los resultados puede ignorar la variable **`PassengerId`** que, aunque es un valor numérico, es usada como identificador. En cambio, podría ser interesante comparar las diferencias en las tarifas (**`Fare`**) entre ambos grupos.

Deje los promedios obtenidos por variable en un objeto *Series* de *pandas* llamado **`supervivencia_numericas`**.


> **Nota:** Tenga presente que el tipo de dato que se solicita es un objeto ***Series***.

In [40]:
# VARIABLE CALIFICADA supervivencia_numericas:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
supervivencia_numericas = promedios_por_grupo.loc[1]
### FIN DEL CÓDIGO ###

In [41]:
#TEST_CELL
supervivencia_numericas.astype(int)

PassengerId    444
Pclass           1
Age             28
SibSp            0
Parch            0
Fare            48
Name: 1, dtype: int64

**Salida esperada:**
```python
PassengerId    444
Pclass           1
Age             28
SibSp            0
Parch            0
Fare            48
Name: 1, dtype: int64
```

### **2.2. Supervivencia en variables categóricas**
---
Construya un objeto ***DataFrame*** de *pandas* llamado **`supervivencia_sexo`** que contenga el promedio de supervivencia en cada grupo de la variable **`Sex`**. Debe encontrar los valores de las proporciones de supervivientes para mujeres y hombres por separado. Por ejemplo, si hubieran $3$ mujeres sobrevivientes de un total de $4$ mujeres, y $2$ hombres sobrevivientes de un total de $4$ hombres; las proporciones correspondientes serían: **`female: 0.75`** y **`male: 0.5`**.

Puede utilizar la siguiente celda para encontrar los valores correspondientes y ponerlos en el ***DataFrame*** **`supervivencia_sexo`**. 

> **Nota:** Tenga presente que el tipo de dato que se solicita es un ***DataFrame***.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Recuerde que puede conformar grupos a partir de variables o condiciones con el uso de la función **`groupby`** para después realizar operaciones de agregación como el promedio **`mean`** o la suma **`sum`**.
* La proporción de una variable de valores binarios ($0$ o $1$) puede ser obtenida a partir del promedio, suponiendo los valores en $1$ como las instancias que hacen parte de la proporción, y los que están en $0$ las que no.

In [42]:
# VARIABLE CALIFICADA supervivencia_sexo:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1-2 líneas de código)
supervivencia_sexo = df[['Sex', 'Survived']].groupby('Sex').mean()
### FIN DEL CÓDIGO ###

In [43]:
#TEST_CELL
(supervivencia_sexo * 100).astype(int)

        Survived
Sex
female        74
male          18

**Salida esperada:**

```python
	    Survived
Sex	
female  74
male    18
```

¿Cómo se pueden interpretar estos resultados? Por favor, siempre recuerde analizar e interpretar sus hallazgos.

**¡Felicitaciones!** Ha terminado el quiz. ¡Buen trabajo!

## **Entrega**

Para entregar el notebook por favor haga lo siguiente:
1. Descargue el notebook (`Archivo` -> `Descargar .ipynb`).
2. Ingrese a Moodle.
3. Realice el envío del *notebook* que descargó en la tarea (o quiz) correspondiente.
4. Recuerde que si tiene algún error, puede hacer múltiples intentos de envío en UNCode.

## **Créditos**


* **Profesor:** [Felipe Restrepo Calle](https://dis.unal.edu.co/~ferestrepoca/)
* **Asistentes docentes:**
  - Alberto Nicolai Romero Martínez
  - Miguel Angel Ortiz Marín

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*